/*1. Use a more-intuitive box-sizing model.*/
*, *::before, *::after {
  box-sizing: border-box;
}

/*2. Remove default margin*/
* {
  margin: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*5. Improve media defaults*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/*6. Remove built-in form typography styles*/
input, button, textarea, select {
  font: inherit;
}

/*7. Avoid text overflows*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*8. Create a root stacking context*/
#root, #__next {
  isolation: isolate;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: Roboto, Tahoma, sans-serif;
  width: 100%;
  height: 100vh;
  background-color: #FDFDFD;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  margin: 1rem 0 .5rem 0;
  text-decoration: underline #51a201;
}

h2 {
  font-family: "Playfair Display", serif;
  font-size: 1rem;
  font-weight: bold;
  line-height: 14px;
  margin-bottom: .5em;
}

/* p {
  overflow: hidden;
  text-overflow: ellipsis;
} */

a {
  color: black;
}

/* Header */

.header {
  width: 100%;
  padding: .5em 1em;
  /* background-color: #010156; */
  /* color: #f5f1ed; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: .75rem;
  text-transform: capitalize;
}

.header > a,
nav > a {
  /* color: #f5f1ed; */
}

.logo {
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: bold;
}

.logo > span {
  background-color: #51a201;
  color: #FDFDFD;
  border-radius: 6px;
  padding: 4px 6px;
}

nav {
  display: flex;
  gap: 1em;
}

nav > a {
  text-decoration: none;
  font-weight: 500;
}

nav > a:hover {
  color: #51a201;
}

.search-box {
  display: flex;
  gap: 10px;
  align-items: center;
  font-weight: 600;
  font-size: .85rem;
  max-width: 300px;
}

.search-box > input {
  border-radius: 6px;
  border-color: #51a201;
}

/* main section */
.main-section {
  margin: 0 auto;
  padding-bottom: 1em;
  max-width: 80vw;
}

.featured-article > .article-inner > .article-container {
  width: 100%;
  height: 200px;
  margin: 1em 0 2em 0;
  flex-direction: row;
  position: relative;
}

.featured-article > .article-inner > .article-container > .article-img-container {
  height: 100%;
  width: 100%;
  border-radius: 8px;
}

.featured-article > .article-inner > .article-container > .article-img-container > img {
  width: 100%;
  height: 100%;

  border-radius: 8px;
}

.featured-article > .article-inner > .article-container > .article-text > h2 {
  margin: 1em;
  font-size: 1.2rem;
  line-height: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 80%;
  color: white;
  text-shadow: 0px 0px 20px #aaaaaa;
  text-align: left;
  z-index: 2;
}

.featured-article > .article-inner > .article-container > .article-text > p {
  display: none;
}

.article-grid {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* flex-wrap: wrap; */
  gap: 1.25em;
  /* grid-template-rows: 400px; */
  /* grid-auto-rows: 200px; */
}

.article-container {
  height: 250px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  /* background-color: #f5f1ed; */
  font-size: .65rem;
}

.article-container:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.article-inner {
  text-decoration: none;
}

.article-text {
  padding: 5px;
}

.article-img-container {
  min-height: 110px;
  width: 100%;
  background-color: #70798C;
  text-indent: 5px;
  border-radius: 8px;
}

.article-img-container > img {
  object-fit: cover;
  border-radius: 8px;
  height: 100%;
  width: 100%;
}

/* Footer */
.footer {
  background-color: #C4C4C4;
  /* color: #f5f1ed; */
  height: 3em;
  text-align: center;
  margin-top: 2.5em;
  padding-top: 1em;
}

@media (min-width: 760px) {
  h2 {
    font-size: .8rem;
  }

  .header {
    height: 3em;
    font-size: medium;
  }
  
  .featured-article > .article-container {
    width: 100%;
    height: 289px;
  }

  .article-grid {
    margin-top: 3em;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    gap: 1.5em;
    /* max-width: 600px; */
    /* margin-left: 0; */
  }

  .article-container {
    height: 230px;
    width: 203px;
    font-size: .65rem;
  }
}

@media (min-width: 1000px) {
  h1 {
    font-size: 3rem;
    max-width: 1000px;
    margin: .25em auto 0;
  }
  
  h2 {
    font-size: .9rem;
  }

  .header {
    height: 4em;
    font-size: larger;
    padding: 1em 4em;
  }

  .main-section {
    max-width: 90vw;
    padding: 0 3em;
  }

  .featured-article {
    max-width: 1000px;
    height: 375px;
    margin: 1em auto;
  }

  .featured-article > .article-inner > .article-container > .article-img-container > img{
    width: 100%;
  }

  .featured-article > .article-inner > .article-container {
    font-size: 1rem;
    gap: 20px;
    align-items: center;
    height: 300px;
  }

  .featured-article > .article-inner > .article-container > .article-text {
    width: 30%;
    height: 100%;
  }

  .featured-article > .article-inner > .article-container > .article-text > h2 {
    line-height: 1.6rem;
    position: static;
    color: black;
    margin: 0 0 .5em 0;
    font-size: 1.6rem;
  }
  
  .featured-article > .article-inner > .article-container > .article-text > p {
    display: block;
    font-size: .9rem;
  }
  
  .article-grid {
    grid-template-columns: repeat(4, minmax(100px, 1fr));
    max-width: 1000px;
    margin-top: 0;
  }

  .article-container {
    height: 300px;
    width: 230px;
    font-size: .8rem;
  }

}